.right-border{
    border-right: solid #8f8f8f 3px ;
}
.contact{
    font-size: 0.85em;
    color: rgb(68, 68, 68);
}
.contact a { 
    text-decoration: none;
    color:rgb(68, 68, 68);
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .contact{
        font-size: 0.9em;
    }
    img { 
        height: 20%;
    }
  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .contact{
        font-size: 1em;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .contact{
        font-size: 1.3em;
    }
    .container-fluid{
        max-height: 500;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .contact{
        font-size: 1.4em;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }


