<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="header-text text-center text-uppercase mt-4 fw-600">Kontakt</p>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 right-border text-center">
                    <p class="fw-500">
                        Spółka
                    </p>
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
    </div>
</div>