<div class="container-fluid">
    <div class="row pt-4 pb-4 fw-600 h-100">
        <div class="col-12 col-md-4 col-lg-3 text-center">
            <img src="../../../assets/logo_TT_footer.svg" class="img-fluid mb-4 mt-lg-5" alt="">
        </div>
        <div class="col-6 col-md-4 col-lg-7 text-center bottomBar  mt-lg-5">
            <p class=" text-uppercase d-sm-block d-lg-inline me-lg-5">
               <a href="#">Spółki Gktt</a> 
            </p>
            <p class=" text-uppercase d-sm-block d-lg-inline me-lg-5">
               <a href="#">O nas</a>
            </p>
            <p class="text-uppercase d-sm-block d-lg-inline me-lg-5">
               <a href="#">Kontakt</a> 
            </p>
            <p class="d-md-inline d-sm-block">
               <a href="#">TTgoesGREEN</a> <img src="../../../assets/clover.svg" alt="">
            </p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="box">
                <p class="fs-5">
                    <i class="far fa-building " ></i>
                </p>
                <p>
                    +48 22 331 80 22
                </p>
                <p>
                    01-030 Warszawa
                </p>
                <p>
                    ul.Pawia 55
                </p>
            </div>
        </div>
    </div>
</div>