<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="text-uppercase text-center mt-2 fw-600 header-text">co musisz o nas wiedzieć?</p>
        </div>
    </div>
    <div class="row">
        <!-- LEFT CONTENT-->
        <div class="col-6 ps-4 pe-0">
            <div class="row">
                <!-- DOTS background div-->
                <div class="col-7 dots">
                </div>
                <div class="col-5">
                </div>

                <div class=" col-11 text-end pt-5 ps-0">
                    <article>
                        <i class="fas fa-flag fs-2 second-header-color me-1 align-middle "></i>
                        <span class="text-uppercase align-middle second-header-color fw-700 second-header ">Jesteśmy
                            polską firmą</span>
                        <p class="mt-1  fw-700 description ">
                            Mimo działań na skalę międzynarodową jesteśmy firma ze 100% kapitałem polskim.
                            Działamy na rynku od 1991 r. Zaczynaliśmy od 5 osób, a obecnie zatrudniamy ponad 1800
                            wykwalifikowanych pracowników.
                        </p>
                        <span class="badge mt-1 rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p text-wrap">Historia Grupy Kapitałowej Transition
                            Technologies</span>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-11 left-eclipse">

                </div>
            </div>
<div class="row pt-4">
    <div class=" col-11 text-end pt-5 ps-0">
        <article>
            <i class="fas fa-file-invoice fs-2 second-header-color me-1 align-middle "></i>
            <span class="text-uppercase align-middle second-header-color fw-700 second-header ">
                Od 30 lat posiadamy certyfikat ISO
            </span>
            <p class="mt-1  fw-700 description ">
               Dbamy o jakość naszych produktów, <br> o czym świadczą cerfytikaty: <br>
               ISO 9001 <br>
               ISO 27001 <br>
               ISO 20000-1
            </p>
            <span class="badge mt-1 rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p">Realizacja polityki jakości</span>
        </article>
    </div>
</div>
<div class="row pt-5">
    <div class="col-7 dots-4">
    </div>
    <div class="col-5">
    </div>
</div>
<div class="row pt-4">
    <div class=" col-11 text-end pt-5 ">
        <article>
            <i class="fas fa-sort-numeric-up-alt fs-2 second-header-color me-1 align-middle "></i>
            <span class="text-uppercase align-middle second-header-color fw-700 second-header ">
                O nas w liczbach
            </span>
            <p class="mt-1  fw-700 description ">
               Grupa Kapitałowa Transition technologies to: 23 biura, 9 spółek na 3 kontynentach, ponad 1800 pracowników oraz 700+ zakończonych sukcesem projektów.
            </p>
            <span class="badge mt-1 rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p">Realizacja polityki jakości</span>
        </article>
    </div>
</div>
        </div>
        <!-- RIGHT CONTENT-->
        <div class=" col-6  border-right-main-page">
            <div class="row">
                <!-- about as div -->
                <div class="col-11">
                    <article>
                        <i class="fas fa-globe-americas fs-2 second-header-color me-1 align-middle"></i>
                        <span class="text-uppercase align-middle second-header-color fw-700 second-header">Działamy na
                            całym świecie</span>
                        <p class=" fw-700 description">Jesteśmy międzynarodową firmą. Mamy 23 biura, działamy na 3
                            kontynentach w 9 krajach i cały czas rośniemy w siłę!</p>
                        <span class="badge  rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p">Lokalizacja biur</span>
                    </article>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                </div>
                <!-- Dots div -->
                <div class="col-7 dots-2">
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-4">
                    <article>
                        <i class="fas fa-lightbulb fs-2 second-header-color me-1 align-middle"></i>
                        <span class="text-uppercase align-middle second-header-color fw-700 second-header">
                            Kluczowe są dla nas innowacje
                        </span>
                        <p class=" fw-700 description">
                            Co roku jesteśmy w trójce Firm Informatycznych o największych nakładach na B+R*.
                            Rokrocznie przeznaczamy ok. 3 mln złotych na badania i rozwój.
                            Wśród naszych specjalistów mamy profesorów oraz doktorów najlepszych polskich uczelni
                            technicznych.
                            Zrealizowaliśmy 1009 projektów badawczych.
                            * Raport TOP200
                        </p>
                        <span class="badge  rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p">Innowacyjne Rozwiązania</span>
                    </article>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-5">
                </div>
                <!-- Dots div -->
                <div class="col-7 dots-3">
                </div>
            </div>
            <div class="row overflow-hidden">
                <div class="col-11 right-eclipse">

                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12 ">
                    <article>
                        <i class="fas fa-hands-helping fs-2 second-header-color me-1 align-middle"></i>
                        <span class="text-uppercase align-middle second-header-color fw-700 second-header">
                            Pomagamy programując
                        </span>
                        <p class=" fw-700 description">
                            Jesteśmy odpowiedzialną firmą, tworzymy unikatowe rozwiązania pomagające poprawić komforf ludzkiego życia. <br>
                            - aplikacja Seeing Assistant dla osób z dysfunkcją wzroku <br>
                            - ogólnopolski program edukacyjny "Zaprogramuj swoja przyszłość" - nauka podstaw programowania wśród młodzieży.
                        </p>
                        <span class="badge  rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p text-wrap">Więcej o społecznym zaangażowaniu</span>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>