
$main-color: #446FC1;

.dots{
    background-image: radial-gradient(circle at 4px 4px, #dddddd 4px, transparent 0);
    background-size: 30px 30px;
    height: 50px;
}
.dots-2{
    
    background-image: radial-gradient(circle at 4px 4px, #dddddd 4px, transparent 0);
    background-size: 30px 30px;
    height: 80px;
}
.dots-3{
    
    background-image: radial-gradient(circle at 4px 4px, #44C1C1 4px, transparent 0);
    background-size: 30px 30px;
    height: 60px;
}
.dots-4{
    background-image: radial-gradient(circle at 4px 4px, $main-color 4px, transparent 0);
    background-size: 30px 30px;
    height: 200px;
}
.second-header-color{
    color: $main-color;
}
.description{
    font-size:0.85em;
}

.badge{
    font-size:0.55em;
    background-color: $main-color;

}

.second-header{ 
    font-size:0.7em;
}

article  > p { 
    font-size:0.7em;
}

.border-right-main-page{
    border-left: #cfcfcf dashed 3px;
}

.left-eclipse{
    position: relative;
top:100px;
left: -190px;
width: 208px;
height: 200px;
transform: matrix(1.9, -1.2, 0.9, 0.64, 0, 0);

background: #44C1C1 0% 10% no-repeat padding-box;
border-radius: 100px;
opacity: 1;
}


.right-eclipse{
position: relative;
top:150px;
right: -530px;
width: 450px;
height: 250px;
transform: matrix(5, 1.8, 2, -0.2, 0, 0);

background: $main-color 0% 1% no-repeat padding-box;
border-radius: 100px;
opacity: 1;
}

@media (min-width: 376px) { 
    .right-eclipse{
        top:150px;
        right: -550px;
        width: 200px;
        height: 250px;
        transform: matrix(5, 1.8, 2, -0.2, 0, 0);
    }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   article {
    font-size:1.2em;
   }
   .dots{
       height: 120px;
   }
   .dots-3{
       height: 120px;
   }
   .left-eclipse{
    top:70px;
    left: -220px;
    width: 240px;
    height: 220px;
    transform: matrix(1.9, -1.2, 0.9, 0.64, 0, 0);
   }
   .right-eclipse{
    top:150px;
    right: -690px;
    width: 290px;
    height: 260px;
    transform: matrix(5, 1.8, 2, -0.2, 0, 0);
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    article {
        font-size:1.3em;
       }
       .dots{
        height: 140px;
    }
    .dots-2{
        height: 120px;
       }
       .dots-3{
        height: 140px;
    }
    .left-eclipse{
        top:90px;
        left: -210px;
        width: 240px;
        height: 250px;
        transform: matrix(1.9, -1.2, 0.9, 0.64, 0, 0);
       }
       
       .right-eclipse{
        top:160px;
        right: -830px;
        width: 330px;
        height: 310px;
        transform: matrix(5, 1.8, 2, -0.2, 0, 0);
    }


 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    article {
        font-size:1.4em;
       }
       .dots{
        height: 160px;
    }
    .dots-3{
        height: 160px;
    }
    .left-eclipse{
        top:90px;
        left: -190px;
        width: 300px;
        height: 280px;
        transform: matrix(1.9, -1.2, 0.9, 0.64, 0, 0);
       }
       .right-eclipse{
        top:160px;
        right: -970px;
        width: 360px;
        height: 350px;
        transform: matrix(5, 1.8, 2, -0.2, 0, 0);
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    article {
        font-size:1.5em;
       }
       .dots{
        height: 180px;
    }
    .left-eclipse{
        top:75px;
        left: -210px;
        width: 300px;
        height: 290px;
        transform: matrix(1.9, -1.2, 1.2, 0.9, 0, 0);
       }
       .right-eclipse{
        top:160px;
  
        right: -1270px;
        width: 390px;
        height: 390px;
        transform: matrix(5, 1.8, 2, -0.2, 0, 0);
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    article {
        font-size:1.6em;
       }
       .dots{
        height: 200px;
    }
    .left-eclipse{
        top:100px;
        left: -170px;
        width: 340px;
        height: 310px;
        transform: matrix(1.9, -1.2, 1.2, 0.9, 0, 0);
       }
 }