<div class="container-fluid mt-4 pb-5 border-pill-div">
    <div class="row">
        <div class="col-12">
                <p class="header-text text-center text-uppercase mt-4 fw-600">Struktura grupy kapitałowej <br> transition technologies</p>
        </div>
    
    </div>
    <div  class="row mt-3 box-element-group">
        <div data-aos="fade-right" *ngFor="let data of structureData" class="col-6 mt-2 col-sm-4 col-md-3 col-xl-2">
            <div class="element-group pt-3 pb-2 ps-3 pe-3 text-center cursor-p">
                <img src="../../../assets/{{data.image}}" class="img-fluid mb-2 mb-md-3 mb-lg-4" alt="">
                <p class="text-center fw-500">
                    {{data.description}}
                </p>
            </div>
        </div>
    </div>
</div>