<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-12">
            <p class="header-text text-center text-uppercase mt-4 fw-600">Nasze lokalizacje</p>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 map mobile-location">
            <img src="../../../assets/map.svg" class="" alt="">
            <div class="pins">  
            <!-- Koszalin -->
            <i class="fas fa-map-marker-alt text-danger koszalin cursor-p"></i>
             <!-- Olsztyn -->
            <i class="fas fa-map-marker-alt text-white olsztyn cursor-p"></i>
         <!-- Białystok -->
            <i class="fas fa-map-marker-alt text-white bialystok cursor-p"></i>
    </div>
        </div>
    </div>

</div>


