<div class="container-fluid pb-3 pt-3">
  <div class="row">
    <div class="col-12">
      <p class="header-text text-center text-uppercase mt-4 fw-600">Poznaj naszych klientów</p>
    </div>
    <div class="col-12">
      <div class="row d-none d-sm-flex">
        <div class="col-md-11 col-lg-9 col-xl-9 ms-auto me-auto">
          <div data-aos="fade-right" class="row">
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5 ms-auto">
              <img class="w-100 h-100 " src="../../../assets/S_enea.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_emerson.png" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_pge.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_roche.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5 me-auto">
              <img class="w-100 h-100" src="../../../assets/S_zus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-11 col-lg-9 col-xl-9 ms-auto me-auto">
          <div  data-aos="fade-left" class="row">
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 ms-auto pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="img-fluid" src="../../../assets/S_energa.png" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_tauron.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_pgNig.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5">
              <img class="w-100 h-100" src="../../../assets/S_schneider.svg" alt="">
            </div>
            <div class="col-sm-2 pt-4 pb-4 ps-4 pe-4 pt-lg-5 pb-lg-5 ps-lg-5 pe-lg-5 me-auto">
              <img class="w-100 h-100" src="../../../assets/S_abb.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div id="carouselSponsors" class="carousel carousel-dark slide d-block d-sm-none" data-bs-ride="carousel">
        <div class="carousel-inner ps-5 pe-5">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_enea.svg" alt="">
              </div>
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_emerson.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="10000">
            <div class="row">
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_pge.svg" alt="">
              </div>
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_roche.svg" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="10000">
            <div class="row">
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_zus.svg" alt="">
              </div>
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="img-fluid" src="../../../assets/S_energa.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="10000">
            <div class="row">
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_tauron.svg" alt="">
              </div>
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_pgNig.svg" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="10000">
            <div class="row">
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_schneider.svg" alt="">
              </div>
              <div class="col-6 pt-5 pb-5 ps-5 pe-5">
                <img class="w-100 h-100" src="../../../assets/S_abb.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev text-custom" type="button" data-bs-target="#carouselSponsors"
          data-bs-slide="prev">
          <span class="fas text-custom fa-caret-left " aria-hidden="true"></span>
          <span class="visually-hidden">Prev</span>
        </button>
        <button class="carousel-control-next text-custom" type="button" data-bs-target="#carouselSponsors"
          data-bs-slide="next">
          <span class="fas text-custom fa-caret-right " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>