<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="header-text text-center text-uppercase mt-4 fw-600">Projekty, z których jesteśmy dumni</p>
        </div>

        <div class="col-12 mt-2">

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <!-- Sławomir Strugarek -->
                    <div class="carousel-item active pb-5" data-bs-interval="30000">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">


                                    <div class="col-7">
                                        <img src="../../../assets/slawek-strugarek.png" class="img-fluid" alt="">
                                        <p class="text-center name fw-600 mt-1">Sławomir Strugarek</p>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <p class="text-end about fw-500">
                                            Osoba kluczowa w stworzeniu i rozwoju aplikacji - Seeing Assistant
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Projekt, z którego jesteś najbardziej dumny: </span>
                                            <br>
                                            Gdy ponad 10 lat temu rozpoczynaliśmy pracę nad dwiema aplikacjami Seeing
                                            Assistant, nie sądziliśmy, że przez kolejne kilka lat ich rodzina rozrośnie
                                            się do pokaźnej grupy asystentów. Aplikacje Seeing Assistant są przede
                                            wszystkim wyrazem wyznawanej przez GKTT zasady, że musimy być odpowiedzialni
                                            za nasz biznes i dzielić się naszymi kompetencjami z potrzebującymi
                                            najlepiej jak umiemy.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Co projekt zmienił? Jaki wywarł wpływ?
                                            </span>
                                            <br>
                                            Rodzina mobilnych aplikacji Seeing Assistant wspomaga osoby niewidome i
                                            słabowidzące w wielu czynnościach, takich jak:
                                            orientacja w przestrzeni i nawigacji, robieniu zakupów, zarządzaniu wieloma
                                            przedmiotami codziennego użytku, odczytywaniu tekstów. Od lat otrzymujemy
                                            wiele dowodów wdzięczności i uznania za tę działalność.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">Gdzie projekt został wdrożony? </span>
                                            <br>
                                            Na koniec maja 2020 aplikacje z rodziny Seeing Assistant zostały pobrane
                                            przez prawie 80 000 użytkowników z blisko 130 krajów.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Łukasz Śladewski -->
                    <div class="carousel-item  pb-5" data-bs-interval="30000">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">


                                    <div class="col-7">
                                        <img src="../../../assets/lukasz-sladewski.png" class="img-fluid" alt="">
                                        <p class="text-center name fw-600 mt-1">Łukasz Śladewski</p>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <p class="text-end about fw-500">
                                            Osoba kluczowa we wdrożeniu SILO (jednego z najważniejszych projektów Grupy
                                            Kapitałowej Transition Technologies)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Projekt, z którego jesteś najbardziej dumny: </span>
                                            <br>
                                            Bez wątpienia najważniejszym dla mnie projektem jest wdrożenia naszego
                                            systemu SILO w elektrowni w Rybniku. SILO to projekt badawczo-rozwojowy, w
                                            którym opracowaliśmy metodę optymalizacji procesu spalania z wykorzystaniem
                                            pomiaru rozkładu temperatury spalania w komorze paleniskowej.

                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">
                                                Co projekt zmienił? Jaki wywarł wpływ?
                                            </span>
                                            <br>

                                            SILO powoduje wyższą wydajność kotła przy mniejszym zużyciu węgla, obniżeniu
                                            kosztów wytwarzania oraz redukcji szkodliwych substancji CO2 i NOx.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">Gdzie projekt został wdrożony? </span>
                                            <br>
                                            Optymalizator SILO został zaimplementowany w 50 blokach energetycznych w
                                            elektrowniach na całym świecie (między innymi w Polsce, Rumunii, Chinach,
                                            itd.) System SILO uzyskał mnóstwo nagród, a także został wyróżniony jako
                                            jeden z najciekawszych projektów w sensie technologicznym (Wystawa Expo,
                                            Kazachstan).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Adam Gąsiorek-->
                    <div class="carousel-item  pb-5" data-bs-interval="30000">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-7">
                                        <img src="../../../assets/adam-gasiorek.png" class="img-fluid" alt="">
                                        <p class="text-center name fw-600 mt-1">Adam Gąsiorek</p>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <p class="text-end about fw-500">
                                            Osoba odpowiedzialna za rozwój technologiczny w TT PSC
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Projekt, z którego jesteś najbardziej dumny: </span>
                                            <br>
                                            Najwięcej powodów do dumny dał mi projekt „Connected Worker” dla Vestas,
                                            czyli niekwestionowanego globalnego lidera w produkcji turbin wiatrowych.
                                            Już sam fakt bezpośredniej współpracy z gigantem, który dostarcza w 80
                                            krajach w sumie 108 GW zielonej energii daje poczucie, że dokładamy swoją
                                            cegiełkę do szerszego wykorzystania odnawialnych źródeł energii.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Co projekt zmienił? Jaki wywarł wpływ?
                                            </span>
                                            <br>
                                            Lubię cytować klienta: „po raz pierwszy technologia nie stoi na drodze” –
                                            dostarczyliśmy rozwiązania na komputery nasobne RealWear HTM-1, dzięki
                                            sterowaniu głosowemu eliminują konieczność odrywania rąk od pracy i
                                            błyskawicznie dostarczają informacje pracownikom pomagając im efektywniej i
                                            bezpieczniej wykonywać swoje obowiązki, przyspieszyć szkolenia czy dzielić
                                            się wiedzą między sobą i między fabrykami Vestas na całym świecie.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">Gdzie projekt został wdrożony? </span>
                                            <br>
                                            Z naszych rozwiązań korzystają już pracownicy fabryk w Danii oraz w Stanach
                                            Zjednoczonych, a niebawem także w Rosji, Chinach i Indiach.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Konrad Wojdan-->
                    <div class="carousel-item  pb-5" data-bs-interval="30000">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-7">
                                        <img src="../../../assets/konrad-wojdan.png" class="img-fluid" alt="">
                                        <p class="text-center name fw-600 mt-1">dr Konrad Wojdan</p>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <p class="text-end about fw-500">
                                            Osoba kierująca działalnością B+R w Grupie Kapitałowej
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Projekt, z którego jesteś najbardziej dumny: </span>
                                            <br>
                                            Projekt, do którego wracam najczęściej – gdy myślę o najtrudniejszy, ale i
                                            najbardziej satysfakcjonującym projekcie jaki realizowałem w Transition
                                            Technologies, jest projekt Inteligentnej Sieci Ciepłowniczej dla Veolia
                                            Warszawa – operatora największej sieci ciepłowniczej w Unii Europejskiej
                                            (długości sieci to 1800 km z 19 tysiącami węzłów cieplnych!).

                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">
                                                Co projekt zmienił? Jaki wywarł wpływ?
                                            </span>
                                            <br>

                                            Dzięki zastosowaniu algorytmów uczenia maszynowego udało się zredukować
                                            emisję CO2 o 16500 t rocznie, zmniejszyć straty ciepła o 3% latem, 5% zimą i
                                            zaoszczędzić 1M EUR rocznie. Ciężko nie być dumnym z takich wyników.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">Gdzie projekt został wdrożony? </span>
                                            Projekt wdrożyliśmy w Elektrociepłowni Veolia Energia Warszawa S.A.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Rafał Ostap-->
                    <div class="carousel-item  pb-5" data-bs-interval="30000">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-7">
                                        <img src="../../../assets/rafal-ostap.png" class="img-fluid" alt="">
                                        <p class="text-center name fw-600 mt-1">Rafał Ostap</p>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <p class="text-end about fw-500">
                                            Osoba odpowiedzialna za projekty na rynek medycyny
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="question-answer fw-600">
                                            <span class="fw-700"> Projekt, z którego jesteś najbardziej dumny: </span>
                                            <br>

                                            Jestem najbardziej dumny z projektu HiRS – Krajowego Rejestru Chorych na
                                            Hipercholesterolemię Rodzinną, zrealizowanego dla Poradni
                                            Hipercholesterolemii Rodzinnej przy Uniwersyteckim Centrum Klinicznym w
                                            Gdańsku.

                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">
                                                Co projekt zmienił? Jaki wywarł wpływ?
                                            </span>
                                            <br>

                                            Projekt HiRS sprawił, że po raz pierwszy zaczęto systematycznie w skali
                                            kraju zbierać informacje o chorych na hipercholesterolemię (FH) - chorobę,
                                            która nieleczona prowadzi do przyśpieszenia procesu miażdżycowego i skutkuje
                                            przedwczesną chorobą wieńcową i zwiększa ryzyko zawału serca przed 50-tym
                                            rokiem życia. Projekt HiRS wywarł istotny wpływ zarówno na system ochrony
                                            zdrowia jak i na znaczną poprawę jakości leczenia pacjentów z podejrzeniem
                                            FH. Dzięki współpracy UCK z TT zbudowano narzędzie, dzięki któremu polski
                                            system opieki zdrowotnej może zacząć długofalowo monitorować pacjentów z FH.
                                        </p>
                                        <p class="question-answer fw-600">
                                            <span class="fw-700">Gdzie projekt został wdrożony? </span>
                                            Projekt wdrożyliśmy w UCK Gdańsk, aktualnie pełni funkcję Krajowego
                                            Rejestru.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                --> 
            </div>
        </div>
    </div>

</div>