

<div class="container-fluid mt-4 pb-5">
    <div class="background-grey">
        
    </div>
    <div class="row">
        <div class="col-12">
                <p class="header-text text-center text-uppercase mt-4 fw-600">
                Czym się zajmujemy ? 
                </p>
        </div>    
    </div>

    <div class="row">
        <div class="col-1">
         <div class="dots">   
         </div>
        </div>
        <div class="col-10 me-auto">
            <div class="row">
                <div class="col-11  ms-auto me-auto tt-ms-1 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12">
                            <p class="header fw-700 mb-0">
                                20%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                                outsourcing usług IT i managed services
                            </p>
                            <p class="description fw-600 mb-1 ">
                                Świadczymy usługi w modelu "Managed Services", outsourcing specjalistów IT
                                oraz usługi zarządzane. Rozwijamy, utrzymujemy i projektujemy rozwiązania IT, prowadzimy konsulting usług IT oraz tworzymy dedykowane centra obsługi.  
                            </p>
                           
                        </div>
                        <div class="row mb-md-5">
                            <div class="col-7">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">TTMS</span>
                            </div>
                            <div class="col-5 mt-sm-3 mt-md-4">
                                <img src="../../../assets/laptop.png" class="img-fluid  image-on-eclipse" alt="">
                                <div class="right-eclipse">   
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-psc-2 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-10 ms-auto me-0 text-end">
                            <p class="header fw-700 mb-0">
                                20%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                                outsourcing i dedykowane systemy w zakresie IOT, AR, VR
                            </p>
                            <p class="description fw-600 mb-1 ">
                                Wspieramy przedsiębiorstwa w realizacji koncepcji Fabryk Przyszłości, Przemysłu 4.0 i Internetu Rzeczy. 
                            </p>
                           
                        </div>
                        <div class="row mb-md-5">
                            <div class="col-7">
                                <img src="../../../assets/person.png" class="img-fluid  image-on-eclipse ms-4" alt="">
                                <div class="left-eclipse-psc">   
                                </div>
                            </div>
                            <div class="col-5 text-end me-0">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3    cursor-p text-wrap">TTPSC</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-sa-sw-3 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12">
                            <p class="header fw-700 mb-0">
                                20%
                            </p>
                            <p class="title text-uppercase fw-700 mb-1">
                                Produkty dla sektora public
                            </p>
                            <p class="description fw-600 mb-1 ">
                                Dostarczamy innowacyjne rozwiązania IT dla rynku Energii Elektrycznej i Gazu, tworzymy nowoczesne oprogramowania dla Medycyny (dowiedz się więcej na TT S.A.) świadczymy także usługi Outsourcingu It dla instytucji publicznych (dowiedz się więcej na TT-SW)
                            </p>
                           
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">TT S.A</span>
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3 ms-2   cursor-p text-wrap">TT-SW</span>
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-cs-4 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12 text-end">
                            <p class="header fw-700 mb-0">
                                15%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                                Automatyka i usługi inżynierskie
                            </p>
                            <p class="description fw-600 mb-1 ">
                                Świadczymy usługi inżynierskie i wdrażamy rozwiązania automatyki zaawansowanej w dużych przedsiębiorstwach przemysłowych i komunalnych.
                            </p>
                           
                        </div>
                        <div class="row mt-4 mb-md-5">
                            <div class="col-7 mt-md-3">
                                <img src="../../../assets/automation.png" class="img-fluid  image-on-eclipse" alt="">
                                <div class="right-eclipse-cs">   
                                </div>
                            </div>
                            <div class="col-5 text-end">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">TT-CS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-sa-as-5 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12">
                            <p class="header fw-700 mb-0">
                                15%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                                Produkty na rynek energii, gazu i przemysłu
                            </p>
                            <p class="description fw-600 mb-2">
                               Jesteśmy liderem wśród dostawców rozwiązań i usług It dla sektora energetycznego (wg. Raport Top 200). 
                               Tworzymy systemy dedykowane do handlu energią elektryczną i gazem.
                            </p>
                            <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">TT S.A</span>
                            <p class="description fw-600 mb-3 mt-2 ">
                               Dbamy aby nasze rozwiązania były nie tylko innowacyjne, ale także dobre dla otaczającego nas świata. Stworzyliśmy system wpływający na poprawę sprawności działania
                             </p>
                        </div>
                        <div class="row ">
                            <div class="col-9">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">TTMS</span>
                            </div>
                            <div class="col-3 mt-sm-3 mt-md-5">
                                <img src="../../../assets/windmill.png" class="img-fluid   image-on-eclipse" alt="">
                                <div class="right-eclipse-sa-as">   
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-br-6 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12 text-end">
                            <p class="header fw-700 mb-0">
                                5%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                                Badania i projekty B+R
                            </p>
                            <p class="description fw-600 mb-1 ">
                                Od lat jesteśmy w pierwszej trójce polskich firm informatycznych 
                                o największych nakładach na B+R. Poza komercyjnymi produktami na rynek gazu, energetyki czy medycyny, w ramach CSR stworzyliśmy także rozwiązania poprawiająe jakość życia ludzi np. aplikacje wspierającą osoby niewidome
                            </p>
                           
                        </div>
                        <div class="row">
                            <div class="col-12 text-end">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3   cursor-p text-wrap">B+R</span>
                            </div>
                          
                        </div>
                     
                    </div>
                </div>
                <div class="col-11  ms-auto me-auto tt-hc-7 pb-3">
                    <div class="row">
                        <div data-aos="zoom-out-left" class="col-12 ms-auto me-0 ">
                            <p class="header fw-700 mb-0">
                                5%
                            </p>
                            <p class="title text-uppercase fw-700  mb-1">
                               Produkty dla sektora healthcare
                            </p>
                            <p class="description fw-600 mb-1 ">
                               Jesteśmy ekspertami w dziedzinie analizy danych, uczenia maszynowego oraz sztucznej inteligencji i wykorzystujemy te wiedzę do informatyzacji służby zdrowia.
                            </p>
                            <p class="description fw-600 mb-1 mt-3 ">
                                Stworzyliśmy m.in. MedStream Designer - narzędzie do analizy dużych zbiorów danych medycznych, zgromadzonych w systemach szpitalnych, które wdrożyliśmy w najwięszych szpitalach w Polsce.
                            </p>
                        </div>
                        <div class="row mt-3">
                            <div class="col-7 me-0">
                                <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3    cursor-p text-wrap">Więcej</span>
                            </div>
                            <div class="col-5 mt-sm-3">
                                <img src="../../../assets/microscope.png" class="img-fluid  image-on-eclipse ms-4" alt="">
                                <div class="right-eclipse-hc">   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  
</div>

