

<div class="background-image pb-5">

</div>
<div class="container-fluid mb-5 in-box mt-5 pb-3 pb-sm-2 pb-md-1 me-md-0 ms-md-auto">
    <div class="row pb-0">
        <div class="col-12 col-md-6 text-center">
      
            <img src="../../../assets/konrad.png" alt="" class="img-fluid picture  mt-5 mt-sm-4 mt-md-4">
        </div>
        <div class="col-12 col-sm-10 col-md-6 ms-sm-auto me-sm-auto mt-lg-5 fw-500 text-center  mt-2 description">
            <p class="fst-italic">"Grupa Transition Technologies to dla mnie cos więcej niz firma, to rodzina. wielu pracowników pamiętam jako młodych, zdolnych, zaczynających swoją przygodę z TT od praktyk lub staży. W tej chwili Ci sami ludzie są wysokiej rangdi managerami i prezesami nowo wydzielonych spółek GKTT. Uczucie dumy z właścicwego wykorzystania potencajłu drzemiącego w ludziach to coś, czego nie da sie przeliczyć na pieniądze. O takiej firmie marzyłem i chyba udało mi się to marzenie spełnić  "</p> 
            <span class="badge rounded-pill pt-2 pb-2  ps-3 pe-3  cursor-p text-wrap">Przeczytaj więcej na blogu eksperckim prof. K. Świrski</span>
        </div>
        
    </div>
</div>

